<template>
  <div class="content-body">
    <!-- account setting page start -->
    <section id="page-account-settings">
      <div class="row">
        <!-- left menu section -->
        <div class="col-md-3 mb-2 mb-md-0">
          <ul class="nav nav-pills flex-column mt-md-0 mt-1">
            <li class="nav-item">
              <a
                class="nav-link d-flex py-75 active"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true"
              >
                <i class="feather icon-globe mr-50 font-medium-3"></i>
                General
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="tab-content">
                  <form novalidate>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-username">Username</label>
                            <input
                              type="text"
                              class="form-control"
                              id="account-username"
                              placeholder="Username"
                              value=""
                              required
                              data-validation-required-message="This username field is required"
                              v-model="user.name"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-name">Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="account-name"
                              placeholder="Name"
                              v-model="user.name"
                              required
                              data-validation-required-message="This name field is required"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-e-mail">E-mail</label>
                            <input
                              type="email"
                              class="form-control"
                              id="account-e-mail"
                              placeholder="Email"
                              value="granger007@hogward.com"
                              required
                              data-validation-required-message="This email field is required"
                              v-model="user.email"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div
                          class="alert alert-warning alert-dismissible mb-2"
                          role="alert"
                        >
                          <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">×</span>
                          </button>
                          <p class="mb-0">
                            Your email is not confirmed. Please check your
                            inbox.
                          </p>
                          <a href="javascript: void(0);">Resend confirmation</a>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="account-company">Company</label>
                          <input
                            type="text"
                            class="form-control"
                            id="account-company"
                            placeholder="Company name"
                          />
                        </div>
                      </div>
                      <div
                        class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                        >
                          Save changes
                        </button>
                        <button type="reset" class="btn btn-outline-warning">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Form from "vform";
import { mapGetters } from "vuex";

export default {
  scrollToTop: false,

  data: () => ({
    form: new Form({
      name: "",
      email: ""
    })
  }),

  head() {
    return { title: this.$t("settings") };
  },

  computed: mapGetters({
    user: "auth/user"
  }),

  created() {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key];
    });
  },

  methods: {
    update() {
      this.form.patch("/settings/profile").then(({ data: user }) => {
        this.$store.dispatch("auth/updateUser", { user });
      });
    }
  }
};
</script>
